/* Small Screen */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.global__title {
    text-align: center;
    color: #06D6A0;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.global__subtitle {
    text-align: center;
    color: #118AB2;
    font-size: 18px;
    margin-bottom: 16px;
}

.global__container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-top: 24px;
}

.card {
    width: 30%;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin-bottom: 16px; 
}

.card__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Medium Screen */
@media (max-width: 768px) { 
.global__container {
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90%;
}
}

/* Large Screen */
@media (min-width: 992px) {
/*
 * Nothing TODO Here.
 * We dont change style hello. 
 */
}